[[source]]
url = "https://pypi.doubanio.com/simple/"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-bootstrap = "*"
flask-migrate = "*"
flask-mail = "*"
flask-babel = "*"
flask-wtf = "*"
flask-moment = "*"
redis = "*"
rq = "*"
coverage = "*"
pyjwt = "*"
python-dotenv = "*"
flask-uploads = "*"
"pypdf2" = "*"
lxml = "*"
"iso-639" = "*"
gunicorn = "*"
"psycopg2" = "*"
qiniu = "*"

[dev-packages]

[requires]
python_version = "3.6.6"
