#loader {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  margin: -33px 0 0 -33px;
}

.container .book{margin-top:20px;height:320px;}
.container .book .cover{height:225px;position:relative}
.container .book .cover img{z-index:0;border:1px solid #fff;box-sizeing:border-box;height:100%;bottom:0;position:relative;-webkit-box-shadow: 0 5px 8px -6px #777;-moz-box-shadow: 0 5px 8px -6px #777;box-shadow: 0 5px 8px -6px #777;}
.container .book .toolbar {z-index:100;position: absolute;bottom: 10px;left: 10px;text-decoration:none;}
.container .book .delete {z-index:100;position: absolute;top: -5px;left: -5px;text-decoration:none;}
.container .book .meta{margin-top:10px}.container .book .meta p{margin:0}
.container .book .meta .title{font-weight:bold;font-size:15px;color:#444;}
.container .book .meta .author{font-size:12px;color:#999}
.container .book .meta .rating{margin-top:5px}.rating .glyphicon-star{color:#999}.rating .glyphicon-star.good{color:#45b29d}
.book-meta {padding-bottom: 20px;}
.book-meta .tags a {display: inline;}
.book-meta .identifiers a {display: inline;}
.container .single .cover img {
    border: 1px solid #fff;
    /*border-radius: 7px;*/
    box-sizeing: border-box;
    -webkit-box-shadow: 0 5px 8px -6px #777;
    -moz-box-shadow: 0 5px 8px -6px #777;
    box-shadow: 0 5px 8px -6px #777;
}

.cover { margin-bottom: 10px;}

.btn-file {position: relative; overflow: hidden;}
.btn-file input[type=file] {position: absolute; top: 0; right: 0; min-width: 100%; min-height: 100%; font-size: 100px; text-align: right; filter: alpha(opacity=0); opacity: 0; outline: none; background: white; cursor: inherit; display: block;}